/*SOLO PARA LA CABECERA*/
.cab-container {
    display: flex;   /* será un contenedor flex */
    flex-direction: row;
    align-items:baseline; /* stretch;
    height: 500px;*/
    height: 100%;
    width: 100%;
    background-image: url("../img/01.png");
}
.cab-container > div {  /* selectores avanzados */
    color:antiquewhite;
    text-shadow: 10px 3px 5px black;
    font-size: 35px;
    align-self: stretch;
    align-content: stretch;
    
    /*flex-basis: 20vwpx;  /*Podemos usar content, px, %, em, vw, etc */
    /*margin: 0,100px;
    padding: 20px;*/
    /*width: 120px;
    align-content: flex-end; 
    justify-content: flex-end;*/
}
/*FIN CABECERA*/