.layout{
    width: 600px;
    margin: auto;
}

.accordion{
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background:antiquewhite ;
}

.accordion__question p{
    margin: 5px;
    padding: 0;
    font-size: 20px;
}

.accordion__answer p{
    margin: 5px;
    padding: 10px;
    color: rgb(255, 255, 255);
    background:cadetblue;
    border-radius: 10px; 
}

.accordion:hover{
    cursor: pointer;
}

.accordion__answer {
    display: none;
} 

.accordion.active .accordion__answer {
    display: block;
}