.carrusel {
    width: 90%;
    min-width: 120em;
    background-color: lightskyblue;
}
.carrusel .grande {
    width: 200%;
    background-color: orange;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    transition: all 0.4s case;
    transform: translateX(0%);

}
.carrusel .img {
    width: calc( 100% / 2 - 2em);
    background-color: green;
    min-height: 10vh;
    transition: all 0.4s ease;
}
.carrusel .puntos {
    width: 100%;
    margin: 1em 0 0;
    padding: .4em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.carrusel .punto {
    width: 2em;
    height: 2em;
    transition: all 0.4s ease;
    background-color: blue;
    margin: 2em;
}
.carrusel .punto.activo{
    background-color: orangered;
}